/* *
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }


  body {
    font: 400 14px/1.5 'UniversNextW01-Regular',"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111111;
    /* background-color: #fffffd; */
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column; }


    /**
     * Set `margin-bottom` to maintain vertical rhythm
     */
    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure,
    .highlight {
      margin-bottom: 12px; }


      /**
       * `main` element
       */
      main {
        display: block;
        /* Default value of `display` of `main` element is 'inline' in IE 11. */ }
